<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0FhQjRonU8HrKoLcEl_OkV2j_riQa73Y</string>
	<key>GCM_SENDER_ID</key>
	<string>405239193729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.admineticBooking</string>
	<key>PROJECT_ID</key>
	<string>adminetic-booking-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>adminetic-booking-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405239193729:ios:852f8e36b7727ec1aead80</string>
</dict>
</plist>